root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.php]
insert_final_newline = true

[tests/_suite/{crud,template}/*]
insert_final_newline = false
indent_size = 2