<?php

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => array('syntax' => 'long'),
    ))
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src/Stick')
            ->in(__DIR__.'/tests/Stick')
            ->in(__DIR__.'/tests/_suite/Classes')
            ->in(__DIR__.'/tests/_suite/Provider')
            ->name('*.php')
    )
;