<?php

use Sami\Sami;
use Sami\RemoteRepository\GitHubRemoteRepository;
use Sami\Version\GitVersionCollection;
use Symfony\Component\Finder\Finder;

$iterator = Finder::create()
    ->files()
    ->name('*.php')
    ->exclude('docs')
    ->exclude('var')
    ->exclude('vendor')
    ->exclude('xdev')
    ->in(__DIR__)
;

$versions = GitVersionCollection::create(__DIR__)
    ->addFromTags('v0.1.*')
    ->add('master', 'master branch')
;

return new Sami($iterator, array(
    'theme'                => 'default',
    'versions'             => $versions,
    'title'                => 'Stick-PHP API',
    'build_dir'            => __DIR__.'/docs/%version%',
    'cache_dir'            => __DIR__.'/var/docs/%version%',
    // 'remote_repository'    => new GitHubRemoteRepository('username/repository', '/path/to/repository'),
    'default_opened_level' => 2,
));