<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Fixture/bootstrap.php" colors="true" verbose="true" stderr="true" cacheResult="false">
  <testsuite name="Stick Framework Test Unit">
    <directory>tests</directory>
    <exclude>tests/Fixture</exclude>
  </testsuite>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="coverage-html" />
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
  </logging>
</phpunit>
