<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Complete Title</title>
</head>
<body>
        Can be override.
            Foo is bar.

              Always displayed.
                  bar is two.
            on default
          I am 0/10.
      I am 1/10.
      I am 2/10.
      I am 3/10.
      I am 4/10.
      I am 5/10.
      I am 6/10.
      I am 7/10.
      I am 8/10.
      I am 9/10.
        foo - bar

    I am totally ignored from being rendered.
    {{ @you.still.see.me.in.a.dot.style }}

  While this line rendered nicely: right?.

  This is an filter example: foo.
  This is an filter example (by calling template method): /foo.
  barbar.
  notfoobar.
      Layout content.
  </body>
</html>